body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: inline-flex;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Ubuntu:wght@300&display=swap");
